# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/generator/tests/test0.cpp
/generator/tests/test1.cpp
/generator/tests/test2.cpp
/generator/tests/test3.cpp
/generator/tests/test4.cpp
/generator/tests/test5.cpp
/generator/tests/test6.cpp
/generator/tests/test7.cpp
/generator/tests/test8.cpp
/generator/tests/test9.cpp
/generator/tests/test10.cpp
/generator/tests/test11.cpp
/generator/tests/test12.cpp
/generator/tests/test13.cpp
/generator/tests/test14.cpp
/generator/tests/test15.cpp
/generator/tests/test16.cpp
/generator/tests/test17.cpp
/generator/tests/test18.cpp
/generator/tests/test19.cpp
